<a href="https://colab.research.google.com/github/2303A510J4/ADM-LAB/blob/main/ADM%20LAB-04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

# Load the dataset
file_path = "/content/SANITH [MConverter.eu].csv"
df = pd.read_csv(file_path)

# Display first few rows
print(df.head())

   EmployeeID   Name Department  Gender DateOfBirth  Salary
0           1  Alice         HR  Female  1985-04-12   50000
1           2    Bob         IT    Male  1990-07-22   60000
2           3  Carol         HR  Female  1992-09-30   55000
3           4   Dave         IT    Male  1988-11-15   70000
4           5    Eve    Finance  Female  1995-01-05   80000

In [19]:
from datetime import datetime

# Convert DateOfBirth to datetime format
df["DateOfBirth"] = pd.to_datetime(df["DateOfBirth"])

# Calculate Age
df["Age"] = df["DateOfBirth"].apply(lambda x: datetime.now().year - x.year)

# Display updated dataset
print(df.head())

   EmployeeID   Name Department  Gender DateOfBirth  Salary  Age
0           1  Alice         HR  Female  1985-04-12   50000   40
1           2    Bob         IT    Male  1990-07-22   60000   35
2           3  Carol         HR  Female  1992-09-30   55000   33
3           4   Dave         IT    Male  1988-11-15   70000   37
4           5    Eve    Finance  Female  1995-01-05   80000   30

In [20]:
from sklearn.preprocessing import LabelEncoder

# Apply label encoding (Male = 1, Female = 0)
le = LabelEncoder()
df["Gender_Label"] = le.fit_transform(df["Gender"])

# Display updated dataset
print(df.head())

   EmployeeID   Name Department  Gender DateOfBirth  Salary  Age  Gender_Label
0           1  Alice         HR  Female  1985-04-12   50000   40             0
1           2    Bob         IT    Male  1990-07-22   60000   35             1
2           3  Carol         HR  Female  1992-09-30   55000   33             0
3           4   Dave         IT    Male  1988-11-15   70000   37             1
4           5    Eve    Finance  Female  1995-01-05   80000   30             0

In [21]:
# Apply One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=["Department"], prefix="Dept")

# Display updated dataset
print(df_encoded.head())

   EmployeeID   Name  Gender DateOfBirth  Salary  Age  Gender_Label  \
0           1  Alice  Female  1985-04-12   50000   40             0
1           2    Bob    Male  1990-07-22   60000   35             1
2           3  Carol  Female  1992-09-30   55000   33             0
3           4   Dave    Male  1988-11-15   70000   37             1
4           5    Eve  Female  1995-01-05   80000   30             0

   Dept_Finance  Dept_HR  Dept_IT  Dept_Marketing
0         False     True    False           False
1         False    False     True           False
2         False     True    False           False
3         False    False     True           False
4          True    False    False           False

In [22]:
# Group by Department and calculate the average salary
dept_salary_avg = df.groupby("Department")["Salary"].mean().reset_index()

# Display results
print(dept_salary_avg)

  Department        Salary
0    Finance  84000.000000
1         HR  52500.000000
2         IT  63333.333333
3  Marketing  70000.000000

In [23]:
# Pivot Table: Count of Employees by Gender per Department
pivot_gender_dept = df.pivot_table(index="Department", columns="Gender", values="EmployeeID", aggfunc="count", fill_value=0)

# Display results
print(pivot_gender_dept)

Gender      Female  Male
Department
Finance          2     1
HR               2     0
IT               0     3
Marketing        1     1

In [27]:
# Save the transformed dataset to CSV
df_encoded.to_csv("/content/SANITH [MConverter.eu].csv", index=False)

print("Transformed dataset saved successfully!")

Transformed dataset saved successfully!