<a href="https://colab.research.google.com/github/2303A510J4/ADM-LAB/blob/main/ADM%20LAB%20EXAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
uni = pd.read_csv("/content/dataset 1.csv")
print("First 10 rows:")
print(uni.head(10))
print("\nMissing values:")
print(uni.isnull().sum())
uni.fillna(method='ffill', inplace=True)

uni_encoded = pd.get_dummies(uni, columns=['Gender', 'School Type'])
print("\nDataset after one-hot encoding:")
print(uni_encoded.head())


match_stats = uni['Match Score'].agg(['mean', 'median', 'std'])
print("\nMatch Score Statistics:")
print(match_stats)


school_counts = uni['School Type'].value_counts()
print("\nTotal number of students per School Type:")
print(school_counts)

First 10 rows:
   Gender School Type  Age  Match Score
0    Male      Public   18           82
1  Female     Private   19           88
2    Male      Public   20           77
3  Female     Private   21           92
4    Male     Private   22           85
5  Female      Public   23           90
6    Male      Public   24           80
7  Female     Private   25           95
8    Male      Public   26           79
9  Female     Private   27           91

Missing values:
Gender         0
School Type    0
Age            0
Match Score    0
dtype: int64

Dataset after one-hot encoding:
   Age  Match Score  Gender_Female  Gender_Male  School Type_Private  \
0   18           82          False         True                False
1   19           88           True        False                 True
2   20           77          False         True                False
3   21           92           True        False                 True
4   22           85          False         True                 True

   School Type_Public
0                True
1               False
2                True
3               False
4               False

Match Score Statistics:
mean      85.812500
median    85.500000
std        4.956057
Name: Match Score, dtype: float64

Total number of students per School Type:
School Type
Public     9
Private    7
Name: count, dtype: int64

<ipython-input-16-2935e27ef554>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  uni.fillna(method='ffill', inplace=True)